{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Check for top padding remove #}
{% if content.field_full_width_media[0]["#markup"] == 1 %}
  {% set full_width_media = 'c-media--full-width' %}
{% endif %}

{# The offset if it exists. #}
{% if content.field_image_offset_color | render %}
  {% set offset_color = 'offset-color' %}
  {% set offset = 'offset-color--' ~ content.field_image_offset_color.0["#markup"] %}
{% endif %}

{# The media bundle. #}
{% set bundle = content.field_media.0["#media"].bundle.getString() %}

{{ attach_library('ucsf_dermatology_th/media') }}

{% set classes = [
  'c-media',
  'c-media--' ~ bundle | clean_class,
  offset_color,
  full_width_media | clean_class,
  offset | clean_class,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% if ( bundle == 'image' ) or ( bundle == 'remote_video' ) %}

        <figure class="c-media__image-video">
          {{ content.field_media | field_value }}

          {% if content.field_caption | render %}
            <figcaption class="c-media__caption">
              {{ content.field_caption | field_value }}
            </figcaption>
          {% endif %}
        </figure>

      {% else %}
        {# Docuemnts et al. #}
        {{ content.field_media | field_value }}
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
