{% set classes = [
  'paragraph-stats',
] %}

{% set cards = [
  {
    'text': 'UCSF fundraisers',
    'field': content.field_fundraisers
  },
  {
    'text': 'raised by fundraisers',
    'field': content.field_dollars
  },
  {
    'text': 'community supporters',
    'field': content.field_sponsors
  }
] %}

{{ attach_library('ucsf/slick_slider') }}
{{ attach_library('ucsf/ucsf_together_animated_counter') }}

<div{{ attributes.addClass(classes) }}>
  <h2>{{ "<em>Together</em> our community has fueled remarkable change."|t }}</h2>
  <div class="paragraph-stats--cards">
    {% for card in cards %}
      <div class="paragraph-stats--card">
        <div class="paragraph-stats--icon">
          {% include directory ~ '/assets/images/stats'~ loop.index ~'.svg' %}
        </div>
        <h3 class="paragraph-stats--number">
          {{ card.field }}
        </h3>
        <p class="paragraph-stats--text">
          {{ card.text }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
